@model TeamRoster

    <h2>Team: @Model.TeamName</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var playerInfo in Model.Roster)
            {
                <tr>
                    <td class="bold-text">@playerInfo.PlayerName</td>
                    <td class="bold-text">@playerInfo.Position["Position"]</td>
                </tr>
            }
        </tbody>
    </table>


<style>
    .bold-text {
        font-weight: bold;
    }
</style>
