@{
    ViewData["Title"] = "NBA Tracker";
}

<div class="text-center">
    <h1 class="display-4 custom-bold">NBA Tracker</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<style>
.custom-bold {
    font-weight: bold;
}
</style>